
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

* {
	box-sizing: border-box;
}

#js-event-list-container {
	float: left;
	height: 100%;
	width: 50%;
	border: black solid 1px;
}

#map {
  height: 100%;
  width: 50%;
  float: right;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}