
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

* {
	box-sizing: border-box;
}

header {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 3em;
}

#search-box {
	text-align: center;
}

legend, form {
	padding-bottom: 1em;
}

h1 {
	font-size: 2em;
}

#js-event-list-container {
	float: left;
	height: 100%;
	width: 50%;
	border: black solid 1px;
}

#map {
  height: 80%;
  width: 50%;
  float: right;
  border: black solid 1px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
	list-style: none;
	border: black solid 1px;
	border-radius: 5px;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-left: 2em;
	margin-right: 2em;
	background-color: #9ACC80;
	
}

.title {
	text-align: center;
	margin-right: 3em;
	padding: 3em, 0;
	
	

}