
/*Screen sizes 600px and up*/

@media (min-width: 600px) {

	.go-style, .festival-style {
		font-size: 5rem;
	}

	h1 {
		font-size: 2rem;
		margin-top: 2rem;

	}

	.search-input {
		margin-top: 7rem;

	}

	.input-label {
		font-size: 1rem;
		padding-right: 0.5rem;
	}

	.input-box {
		height: 2rem;
		width: 9rem;
		
	}
	#js-search-radius {
		font-size: 1rem;
	}

	.button {
		width: 8rem;
		height: 3rem;
		font-size: 1.5rem;
		margin-top: 0;
	}

	.event-title {
		font-size: 1.5rem;
	}

	.date-time, .event-link {
		font-size: 1.3rem;
	}

	.description-and-more, .title  { 
		font-size: 1rem;
	}

	.month, .day {
		font-size: 1.2rem
	}

	.event-logo {
		display: flex;
		justify-content: center;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.event-logo img {
		width: 100%;
		max-width: 350px;
	}

	.modal-content {
		height: 70%;
	}


}

@media (min-width: 900px) {


	.content-container {
		display: block;
		margin-right: 2.5%;
		margin-left: 2.5%;
		/*padding-bottom: 2.5%;*/
		height: 90%;
		margin-top: 2%;
	}

	.js-event-list-container {
		float: left;
		height: 90%;
		width: 40%;
		overflow: auto;
		margin-top: 0;
	}

	.map-wrapper {
		width: 60%;
		height: 90%;
		float: left;
	}

	#map {
	  height: 100%;	
	  width: 100%;
	  float: left;
	  margin-top: 0;
	 } 

	 .modal-content {
		height:60%;
	}

	.description-and-more { 
		font-size: 1rem;
}



}

@media (min-width: 1200px){

/*	html, body {
  		overflow-y: hidden;
	}*/

	.js-event-list-container, .map-wrapper {
		height: 90%;

	}

	.description-and-more {
		font-size: 1rem;
	}

	.title {
		font-size: 1.2rem;
	}


}

@media (min-width: 1800px) {


	.content-container {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;

	}

	.modal-content {
		max-width: 900px;
	}

	.event-logo img {
		max-width: 60%;
	}

	.description-and-more {
		font-size: 1.2rem;
	}
}